<!DOCTYPE html>
{% set _v = 1 %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/_static/lib/bits-ui/normalize.css?v={{_v}}">
    <link rel="stylesheet" href="/_static/bits-ui/bits-ui.css?v={{_v}}">
    <link rel="stylesheet" href="/base.css?v={{_v}}">
    <style>
        @font-face {
            /* Set UI font, Cantarell is recommended */
            font-family: bits-ui;
            src: url('/_static/lib/bits-ui/font/Cantarell/Cantarell-Regular.ttf?v={{_v}}');
        }
    </style>
    <script defer src="/_static/lib/bits-ui/bits-ui.js?v={{_v}}"></script>
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>