@require '../_bits-ui/_require.styl'

header
    color: green
    div[el="buttons"]
        display: flex
        justify-content: center
        align-items: center
        a[el="github"]
            button(darken(white, 10%))
            margin-left: 1rem

h1, h2
    width: 100%

.block
    display: block
    margin: auto