{% extends '_base.html' %}

{% block head %}
<link rel="stylesheet" href="./index.css?v={{_v}}">
{% endblock %}

{% block body %}
<header class="flex">
    <h1>Shelf DB</h1>
    <h2>A tiny document database<br>for Python</h2>
    <div el="buttons">
        <a class="button"
                href="./guide/">
            <bits-icon theme="adwaita" name="view-dual" style="margin-right: 0.2rem;"></bits-icon>
            Guide
        </a>
        <a el="github"
                href="https://github.com/nitipit/shelfdb">
            Github</a>
    </div>

</header>
<div class="flex">
    <img src="./shelf.png" alt="Designed by Freepik"
        style="max-width: 500px; width: 80%; margin-top: 2rem;">
    <div style="width: 100%; text-align: center;">
        <a href="http://www.freepik.com">Image designed by Freepik</a>
    </div>
</div>
<div class="block">
{{ markdown('index.md') }}
</div>
{% endblock %}