@require '../_bits-ui/_require.styl'

header
    color: green

a.github-button
    margin: 0 100px

h1, h2
    width: 100%

.block
    display: block
    width: 90%
    max-width: 50rem
    margin: auto