<link rel="stylesheet" href="/shelfdb/include/sidebar/sidebar.css?v={{_v}}">
<script src="/shelfdb/include/sidebar/sidebar.js?v={{_v}}"></script>
<span id="sidebar-button" class="bits-button-pin">
    <bits-icon theme="adwaita" name="open-menu"></bits-icon>
</span>

<bits-sidebar show="1000px">
    <div el="wrapper">
        <!-- Sidebar contents -->
        <div el="title">
            <a el="home" href="/shelfdb/">
                <bits-icon theme="adwaita" name="go-home"></bits-icon>
            </a>
            <a el="name" href="/shelfdb/guide/"><h2>Guide</h2></a>
            <a el="close">
                <bits-icon theme="adwaita" name="window-close"></bits-icon>
            </a>
        </div>
        <div el="content">
            <a href="/shelfdb/guide/"><strong>Install</strong></a>
            <a href="/shelfdb/guide/server/"><strong>Database Server</strong></a>
            <a href="/shelfdb/guide/query/"><strong>Query</strong></a>
        </div>
    </div>
    <div el="overlay"></div>
</bits-sidebar>