h1($ratio=1)
    font-size: 40px*$ratio
h2($ratio=1)
    font-size: 30px*$ratio
h3($ratio=1)
    font-size: 24px*$ratio
h4($ratio=1)
    font-size: 20px*$ratio
h5($ratio=1)
    font-size: 18px*$ratio
h6($ratio=1)
    font-size: 16px*$ratio
p($ratio=1)
    font-size: 16px*$ratio
