h1($ratio=1)
    font-size: $font-size*2.5*$ratio
h2($ratio=1)
    font-size: $font-size*1.85*$ratio
h3($ratio=1)
    font-size: $font-size*1.6*$ratio
h4($ratio=1)
    font-size: $font-size*1.4*$ratio
h5($ratio=1)
    font-size: $font-size*1.2*$ratio
h6($ratio=1)
    font-size: $font-size*$ratio
p($ratio=1)
    font-size: $font-size*$ratio
