bits-badge, .bits-badge
    badge()

[class*='box-arrow']
    lift-2()

bits-box-arrow-top, .bits-box-arrow-top
    box-arrow($arrow="top")

bits-box-arrow-right, .bits-box-arrow-right
    box-arrow($arrow="right")

bits-box-arrow-bottom, .bits-box-arrow-bottom
    box-arrow($arrow="bottom")

bits-box-arrow-left, .bits-box-arrow-left
    box-arrow($arrow="left")

button, .button, input[type="button"]
    button()

bits-button-pin, .bits-button-pin
    button-pin()

bits-button-square, .bits-button-square
    button-square()

bits-button-group, .bits-button-group
    button-group()

bits-card, .bits-card
    card()

bits-checkbox
    checkbox()

bits-file
    file()

hr
    hr()

bits-icon
    icon()

input[type="range"]
    slider()

input
    input-text()
    &[type="text"], &[type="password"], &[type="email"]
        input-text()

bits-input-number
    input-number()

label
    bits-font()

bits-menu > ul
    menu()

ul.bits-path
    path()

// progress
bits-dotpulse
    dotpulse()
    @keyframes dotpulse-delay
        0%, 80%, 100%
            transform: scale(0)
        40%
            transform: scale(1.0)

bits-progress-bar
    progress-bar()

bits-spinner
    spinner()
// end : progress

bits-input-radio
    input-radio()

bits-input-radio-btn, .bits-input-radio-btn
    input-radio-btn()

bits-input-tag
    input-tag()

bits-sidebar
    sidebar()

bits-slide
    slide()

bits-switch
    switch()

bits-tab, .bits-tab
    tab()

table
    table()

bits-tag, .bits-tag
    tag()

bits-tag-x
    tag()
    padding-right: 0.2em
    bits-icon
        cursor: pointer