.red
    color: red
.pink
    color: pink
.purple
    color: purple
.deep-purple
    color: deep-purple
.indigo
    color: indigo
.blue
    color: blue
.light-blue
    color: light-blue
.cyan
    color: cyan
.teal
    color: teal
.green
    color: green
.light-green
    color: light-green
.lime
    color: lime
.yellow
    color: yellow
.amber
    color: amber
.orange
    color: orange
.deep-orange
    color: deep-orange
.brown
    color: brown
.grey, .gray
    color: grey
.blue-grey, .blue-gray
    color: blue-grey

.bg-red
    bg-color(red)
.bg-pink
    bg-color(pink)
.bg-purple
    bg-color(purple)
.bg-deep-purple
    bg-color(deep-purple)
.bg-indigo
    bg-color(indigo)
.bg-blue
    bg-color(blue)
.bg-light-blue
    bg-color(light-blue)
.bg-cyan
    bg-color(cyan)
.bg-teal
    bg-color(teal)
.bg-green
    bg-color(green)
.bg-light-green
    bg-color(light-green)
.bg-lime
    bg-color(lime)
.bg-yellow
    bg-color(yellow)
.bg-amber
    bg-color(amber)
.bg-orange
    bg-color(orange)
.bg-deep-orange
    bg-color(deep-orange)
.bg-brown
    bg-color(brown)
.bg-grey, .bg-gray
    bg-color(grey)
.bg-blue-grey, .bg-blue-gray
    bg-color(blue-grey)

.bg-int-red
    bg-int-color(red)
.bg-int-pink
    bg-int-color(pink)
.bg-int-purple
    bg-int-color(purple)
.bg-int-deep-purple
    bg-int-color(deep-purple)
.bg-int-indigo
    bg-int-color(indigo)
.bg-int-blue
    bg-int-color(blue)
.bg-int-light-blue
    bg-int-color(light-blue)
.bg-int-cyan
    bg-int-color(cyan)
.bg-int-teal
    bg-int-color(teal)
.bg-int-green
    bg-int-color(green)
.bg-int-light-green
    bg-int-color(light-green)
.bg-int-lime
    bg-int-color(lime)
.bg-int-yellow
    bg-int-color(yellow)
.bg-int-amber
    bg-int-color(amber)
.bg-int-orange
    bg-int-color(orange)
.bg-int-deep-orange
    bg-int-color(deep-orange)
.bg-int-brown
    bg-int-color(brown)
.bg-int-grey, .bg-int-gray
    bg-int-color(grey)
.bg-int-blue-grey, .bg-int-blue-gray
    bg-int-color(blue-grey)
.bg-int-white
    bg-int-color(white)
.bg-int-black
    bg-int-color(black)

.color-primary, .color-p
    color: $color-primary
    &.l1
        color: lighten(@color, 20%)
    &.l2
        color: lighten(@color, 40%)
    &.l3
        color: lighten(@color, 60%)
    &.l4
        color: lighten(@color, 80%)
    &.d1
        color: darken(@color, 20%)
    &.d2
        color: darken(@color, 40%)
    &.d3
        color: darken(@color, 60%)
    &.d4
        color: darken(@color, 80%)

.bg-primary, .bg-p
    bg-color($color-primary)
    &.l1
        bg-color(lighten($color-primary, 20%))
    &.l2
        bg-color(lighten($color-primary, 40%))
    &.l3
        bg-color(lighten($color-primary, 60%))
    &.l4
        bg-color(lighten($color-primary, 80%))
    &.d1
        bg-color(darken($color-primary, 20%))
    &.d2
        bg-color(darken($color-primary, 40%))
    &.d3
        bg-color(darken($color-primary, 60%))
    &.d4
        bg-color(darken($color-primary, 80%))

.color-complement, .color-c
    color: $color-complement
.color-analog-left, .color-a1
    color: $color-analog-left
.color-analog-right, .color-a2
    color: $color-analog-right
.color-triadic-left, .color-t1
    color: $color-triadic-left
.color-triadic-right, .color-t2
    color: $color-triadic-right

.bg-complement, .bg-c
    bg-color($color-complement)
.bg-analog-left, .bg-a1
    bg-color($color-analog-left)
.bg-analog-right, .bg-a2
    bg-color($color-analog-right)
.bg-triadic-left, .bg-t1
    bg-color($color-triadic-left)
.bg-triadic-right, .bg-t2
    bg-color($color-triadic-right)

.bg-int-primary, .bg-int-p
    bg-int-color($color-p)
.bg-int-complement, .bg-int-c
    bg-int-color($color-complement)
.bg-int-analog-left, .bg-int-a1
    bg-int-color($color-analog-left)
.bg-int-analog-right, .bg-int-a2
    bg-int-color($color-analog-right)
.bg-int-triadic-left, .bg-int-t1
    bg-int-color($color-triadic-left)
.bg-int-triadic-right, .bg-int-t2
    bg-int-color($color-triadic-right)

.border-top-radius
    border-top-radius()

.border-right-radius
    border-right-radius()

.border-bottom-radius
    border-bottom-radius()

.border-left-radius
    border-left-radius()

.lift-1
    lift-1()
.lift-2
    lift-2()
.lift-3
    lift-3()
.lift-4
    lift-4()
.lift-5
    lift-5()
