@require '../../_bits-ui/_require.styl'

.block
    h2
        display: inline-block

a.learn-more
    button($bg-color: $color-c)
    box-arrow(
        $arrow: left,
        $bg-color: $color-c,
        $border-width: 1px,
        $border-color: darken(green, 50%))
    display: inline-block
    margin-left: 1rem
    padding: 0.2rem 0.4rem